html,body {
    background: rgb(33,33,33);
    font-family: 'Geologica', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}

*, *::before, *::after {
    --vscode-editor-background: "#221f22" !important;
    --vscode-editorGutter-background: "#221f22" !important;
}