.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
out/
syntaxes/
src/language/generated/
public/monaco-editor-workers/
public/monaco-editor-wrapper/
public/mini-mecha-code-server-worker.js